
BODY {
	background-color: white;
	font-family: "Trebuchet MS", Verdana, Sans-Serif; 
	font-size : 100%;
}

DIV#menuBar {
	font-family: "Trebuchet MS", Verdana, Sans-Serif; 
	font-size: 80%;
	padding-top: 1em;
	text-align: center;
}

A {
	text-decoration: none;
	background-color: transparent;
}

A:hover {
	background-color: #DDF;
	text-decoration: none;
}

DIV#footer {
	clear: both;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: black;
	margin-top: 2em;
	text-align: right;
}

TABLE.pretty {
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

TABLE.pretty TD {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

TABLE.pretty TH {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

TR.odd {
	background-color: #eeeeee;
}

TR.even {
	background-color: #ffffff;
}

TD.branchInfoHeader {
    border-width: 3px;
    border-style: solid;
    border-color: blue;
    text-align: center;
    
}

TABLE.pretty TH {
	color: blue;
	background-color: #dfe7f3;
}

H1#pageTitle {
	font-size: 120%;
	font-family: sans-serif;
}

H2 {
	font-size: 120%;
	font-family: sans-serif;
}

.invisible {
    display: none;
}

DIV#popupBox {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: #d0d0f0;
    padding: 2px;
    z-index: 10;
}
