   div.code { font-family: monospace;
	      background-color: #eeeeee;
	      display: block;
	      white-space: pre;
	      padding: 1em;
	      margin: 0.2em; }

   span.input { color: #00a000; 
	        font-weight: bold; }

   div.ctr { text-align: center; }

   div.box { border-style: solid;
	     border-width: 1px; 
	     border-color: black; 
	     width: 50%;
	     text-align: left;
	     margin: 2em; 
	     padding: 1em; }

   div.faq { margin: 1em;
	     border-style: solid;
	     border-width: 1px; 
	     border-color: black; 
             background-color: #eeeeee;
           }

   div.faq-q { margin: 0.1em;
	       background-color: #cccccc;
	       font-weight: bold;
             }

   div.faq-a { margin: 0.5em; }


   table { }

   th {}

   td { padding: 0.1em;
	padding-left: 1em;
	padding-right: 1em; }

   a.lesser { font-size: small; }
