body {
    margin: 0;
    background: url(bg.png);
    font-size: 1em;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    color: #4627B4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: square;
    font-size: 0.9em;
    margin-top: 0.5em;
    margin-bottom: 0;
    padding-left: 1em;
}

hr {
    border: 0;
    background: transparent;
    border-top: 0.0625em dotted #CCCCCC;
}

dl {}

dl dd {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.clearfloat {
    clear: both;
}

#header, #body {
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-left: 0.0625em solid #474747;
    border-right: 0.0625em solid #474747;
}

#header {
    margin-bottom: 0.5em;
    border-bottom: 0.0625em solid #474747;
    text-align: justify;
    width: 46em;
    padding: 1em;
}

#header p {
    font-size: 0.9em;
    line-height: 1.45em;
    margin-top: 0;
    margin-right: 2em;
}

#header p img {
    float: left;
    margin-right: 1em;
}

#body {
    border: 0.0625em solid #474747;
    width: 44em;
    padding: 2em;
}

.boxes {
    padding-top: 1em;
    border-top: 0.0625em dotted #CCCCCC;
    overflow: hidden;
}

.boxes:first-child {
    border: 0;
    padding-top: 0;
}

.box {
    margin-top: -1em;
    padding-top: 0.5em;
    padding-right: 0.5em;
    margin-right: 0.5em;
    padding-bottom: 0.5em;
}

.box-small {
    float: left;
    border-right: 0.0625em dotted #CCCCCC;
    width: 13.5em;
    padding-bottom: 300em;
    margin-bottom: -300em;
}

.box-small + .box-small + .box-small {
    margin-right: 0;
    border-right: 0;
    padding-right: 0;
}

.box h1 {
    font-size: 1em;
    padding-top: 0.7em;
    padding-bottom: 0.2em;
    padding-left: 2.5em;
}

.box ul {
    padding-left: 3em;
    margin-bottom: 1em;
}

.box p {
    font-size: 0.9em;
}

h1.getit {
    background: url(getit.png) no-repeat;
}

h1.getitdistro,
h1.relateddownload {
    background: url(getitdistro.png) no-repeat;
}

h1.useit {
    background: url(useit.png) no-repeat;
}

h1.improveit {
    background: url(improveit.png) no-repeat;
}

h1.intheblogs {
    background: url(intheblogs.png) no-repeat;
}

.feed-msg {
    margin-left: 1.8em;
    margin-bottom: 0.5em;
}

.feed-msg h2 {
    font-size: 0.9em;
    padding-right: 15em;
}

.feed-msg h3 {
    font-size: 0.7em;
    font-weight: normal;
    float: right;
    margin-top: -2.5em;
}

.feed-msg p {
    font-size: 0.8em;
}

.feed-msg a {
    white-space: nowrap;
}

#footer {
    border-top: 0.0625em dotted #CCCCCC;
    padding-top: 1em;
    font-size: 0.7em;
    text-align: center;
}
